PRODUCTION=False
DEBUG=True
SECRET_KEY=

# ........... Database ..........
DATABASE_URL=db
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=pass
DATABASE_NAME=pixbum

MYSQL_USER=root
MYSQL_PASSWORD=pass
MYSQL_ROOT_PASSWORD=pass
MYSQL_DATABASE=pixbum

# ........... Accept ..........
Accept_API_KEY=
Accept_IFRAME_ID=
Accept_EGP_CARDINTEGRATIONID=
Accept_VALU_CARDINTEGRATIONID=
Accept_VALU_IFRAME_ID=
Accept_AHLY_CARDINTEGRATIONID=
